* {
  box-sizing: border-box;
  // max-width: 100%;
  outline: none;
}

body,
html {
  background: #F3F3F3;
  color: #333333;
  overflow-x: hidden;
  font-family: 'Noto Sans', sans-serif;
  scroll-behavior: smooth;
}

.container {
  max-width: 1115px;
  margin: 0 auto;
  @media (max-width:1120px) {
    max-width: 100%;
    padding: 0 15px;
  }
}

